<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>annakshetra</title>

    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- favicon  -->
    <link rel="icon" href="./images/annakshetra.png" alt="logo annakshetra" />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header_inner">
        <h1 class="header_title">annakshetra</h1>
      </div>
    </header>
    <a id="hamburger" href="#">☰</a>
    <nav id="drawer" class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="/">Home </a></li>
        <li class="nav_item"><a href="#">Favorite </a></li>
        <li class="nav_item">
          <a href="https://github.com/aufaahusniati" target="_blank"
            >About Us</a
          >
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">Where to eat?</h1>
        <p class="hero_tagline">
          you can find authentic food on streets. But, if you are feeling extra
          and wanting the luxurious ones, we have restaurants that offer fine
          dining and delicacies.
        </p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <article class="content_highlight">
          <div class="image_hightlight">
            <img src="./images/heros/hero-image_4.jpg" alt="gambar makanan" />
          </div>
          <div class="text_hightlight">
            <h1>Don't leave Indonesia before You Get a Taste</h1>
            <hr style="width: 50%; border: 3px solid #de9d7e; margin: auto" />
            <p>
              Indonesia is a melting pot of different flavors. Home to over 300
              ethnic groups, it offers a varied range of delicacies, many of
              which use herbs and spices to enhance the flavor. The
              mouth-watering dishes will leave you wanting more! So, feast your
              eyes and try not to drool over these must-try savory Indonesian
              foods.
            </p>
          </div>
        </article>
        <div class="explore">
          <h1 class="explore_label">Explore Restaurants</h1>
          <hr style="width: 30%; border: 3px solid #de9d7e; margin: auto" />
        </div>
        <div class="posts" id="posts"></div>
      </section>
    </main>
    <footer>
      <p>Copyright © 2024 - annakshetra</p>
    </footer>
  </body>
</html>
